@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);
* {
     box-sizing: border-box;
}
body {
     background-color: #22254b;
     font-family: 'Poppins',sans-serif;
     margin: 0px;
}
header {
     background-color: #373b69;
     display: flex;
     justify-content: flex-end;
     padding: 1rem;
}
.search {
     background-color: transparent;
     color: #fff;
     border: 2px solid #22254b;
     border-radius: 50px;
     font-family: inherit;
     font-size: 1rem;
     padding: 0.5rem 1rem;
}
.search::placeholder {
     color: #7378c5;
     text-transform: capitalize;
}
.search:focus {
     background-color: #22254b;
     outline: none;
}
main {
     display: flex;
     flex-wrap: wrap;
}
.movie {
     background-color: #373b69;
     border-radius: 3px;
     box-shadow: 0px 4px 5px rgba(0,0,0,0.2);
     overflow: hidden;
     position: relative;
     margin: 1rem;
     width: 300px;
}
.movie img {
     width: 100%;
}
.movie-info {
     color: #eee;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0.5rem 1rem 1rem;
     letter-spacing: 0.5px;
}
.movie-info h3 {
     margin: 0px;
     text-decoration: capitalize;
}
.movie-info span {
     background-color: #22254b;
     border-radius: 3px;
     font-weight: bold;
     padding: 0.25rem 0.5rem;
     text-transform: capitalize;
}
.movie-info span.green {
     color: rgb(39,189,39);
}
.movie-info span.orange {
     color: orange;
}
.movie-info span.red {
     color: rgb(189,42,42);
}
.overview {
     background-color: #fff;
     padding: 2rem;
     position: absolute;
     right: 0rem;
     left: 0rem;
     bottom: 0rem;
     max-height: 100%;
     overflow: auto;
     transform: translateY(101%);
     transition: transform 0.3s ease-in;
}
.overview h3 {
     margin-top: 0px;
     text-transform: capitalize;
}
.movie:hover .overview {
     transform: translateY(0%);
}